:root{
    background-color:deepskyblue;
}

main{
    margin:auto;
    display:grid;
    border: solid blue 2px;
    width: 60vmax;
    height: 30vmax;
    grid-template-columns: 1fr 1fr;
}

#start-menu{
    display:grid;
    grid-template-rows: 10% 1fr ;
    background-color: skyblue;
    width:80%;
    height:80%;
    justify-self: center;
    align-self: center;

    #start-menu-title{
        justify-self: center;
        align-self: center;
        grid-row-start:1;
        grid-column-start:1;
    }

    #start-btn{
        height:80%;
        width:80%;
        grid-row-start:1;
        grid-row-end: -1;
        grid-column-start:1;
        justify-self:center;
        align-self:center;
        background-color:greenyellow;
        border: solid green .1em;
        border-radius: 50%;
        font-size: 10vmax;
        color:green;
    }
}

.gameboard{
    //border: solid green 2px;
    display: grid;
    width:80%;
    height:80%;
    justify-self:center;
    align-self: center;

    // grid-template-rows: repeat(10, 10%) 10%;
    // grid-template-columns: 10% repeat(10, 10%);

    .axis{
        background-color: paleturquoise;
    }

    .tile{
       background-color: skyblue;
    }
}

#new-game-screen{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: -1;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    #new-game-btn{
        background-color: skyblue;
    }
}