:root{
    background-color:burlywood;
}

main{
    margin:auto;
    display:grid;
    //grid-auto-flow: column;
    border: solid red 2px;
    width: 90vw;
    height: 45vw;
}

#table{
    display:grid;
    grid-auto-flow:column;
}

.gameboard{
    border: solid green 2px;
    display: grid;
    width:80%;
    height:80%;
    justify-self:center;
    align-self: center;
    // grid-template-rows: repeat(10, 10%) 10%;
    // grid-template-columns: 10% repeat(10, 10%);

    .axis{
        background-color: paleturquoise;
    }

    .tile{
       background-color: skyblue;
    }
}